.container {
    display: flex;
    padding: 0 55px;
}

.container:hover .item {
    transform: translateX(-25%);
}

.item {
    background: green;
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}

.item:hover ~ .item {
    transform: translateX(25%);
}

.item:hover {
    cursor: pointer;
    transform: scale(1.5) !important;
}
